source ~/.config/nvim/init.vim
source ~/.config/nvim/plugin/settings.vim
source ~/.config/nvim/plugin/nerdtree.vim
source ~/.config/nvim/plugin/navigation.vim


set highlightedyank


nnoremap <C-i> :action Back<CR>
nnoremap <C-o> :action Forward<CR>
nnoremap [[ [m
nnoremap ]] ]m

nnoremap <leader>pi :action ParameterInfo<CR>
nnoremap <leader>fb :action Switcher<CR>
nnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>oi :action OptimizeImports<CR>

" Refactoring
nnoremap <leader>rr :action RenameElement<CR>
nnoremap <leader>rei :action ExtractInterface<CR>
nnoremap <leader>rev :action IntroduceVariable<CR>
nnoremap <leader>rem :action ExtractMethod<CR>

nnoremap <leader>fa :action SearchEverywhere<CR>
nnoremap <leader>ff :action GotoFile<CR>
nnoremap <leader>fc :action GotoClass<CR>
" Find
nnoremap <leader>fu :action FindUsages<CR>
nnoremap <leader>su :action ShowUsages<CR>
nnoremap <leader>gd :action GotoDeclaration<CR>

" Copy
nnoremap <leader>cp :action CopyContentRootPath<CR>
nnoremap <leader>cr :action CopyReference<CR>

" Run/Execute
nnoremap <leader>t :action RunClass<CR>

" Windows
nnoremap <C-v> :action MoveTabRight<CR>
nnoremap <C-h> :action MoveTabDown<CR>

" nnoremap <tab><tab> :action ActivateProjectToolWindow<CR>
" nnoremap <tab>f :action SelectIn<CR>

